<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>LiveTranslate</string>
	<key>CFBundleDisplayName</key>
	<string>Live Translate</string>
	<key>CFBundleIdentifier</key>
	<string>local.artemk.livetranslate</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>LiveTranslate</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSUIElement</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Live Translate слушает микрофон для распознавания и перевода речи.</string>
</dict>
</plist>
